.container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin: clamp(18px, 2.5vw, 36px) clamp(28px, 6.39vw, 92px) 0;
}

.filtrContainer {
  display: flex;
  flex-direction: row;
  gap: clamp(9px, 1.25vw, 18px);
  align-items: center;
}
.filtrIcon img {
  width: auto;
  height: clamp(10px, 1.39vw, 20px);
}

.sortContainer {
  display: flex;
  flex-direction: row;
  gap: clamp(9px, 2.5vw, 36px);
  align-items: center;
}
.sortIcon img {
  width: auto;
  height: clamp(5px, 0.63vw, 9px);
}
