.container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin: clamp(18px, 2.5vw, 36px) clamp(18px, 5vw, 72px) 0;
}

.filterContainer {
  display: flex;
  flex-direction: row;
  gap: clamp(9px, 1.25vw, 18px);
  align-items: center;
}

.filterIcon img {
  width: clamp(9.05px, 1.26vw, 18.1px);
  height: clamp(10px, 1.39vw, 20px);
  display: block;
}

.filterIcon {
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  background: none;
  cursor: pointer;
}

.sortContainer {
  display: flex;
  flex-direction: row;
  gap: clamp(9px, 2.5vw, 36px);
  align-items: center;
  position: relative;
}

.sortIcon img {
  transform: rotate(270deg);
  height: clamp(9px, 1.18vw, 17px);
  width: clamp(5px, 0.63vw, 9px);
  display: block;
}

.sortIcon {
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  background: none;
  cursor: pointer;
}
.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
}

.filterContainer,
.sortContainer {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.filterIcon {
  background: none;
  border: none;
  cursor: pointer;
}
.sortIcon {
  background: none;
  border: none;
  cursor: pointer;
  transition: transform 300ms ease-in-out;
  transform-origin: center center;

  transform: rotate(0deg);
}

.sortIconRotated {
  transform: rotate(180deg);
}

.sidebar {
  position: fixed;
  top: 0;
  left: 0;
  width: clamp(375px, 80vw, 612px);
  height: 100vh;
  background: #eff1f0;

  transform: translateX(-100%);

  transition: transform 600ms ease;
  z-index: 1000;
}

.sidebar.open {
  transform: translateX(0);
}

.sidebarHeader {
  justify-content: center;
  align-items: center;
  border-bottom: 1px solid #a5a8a6;
  flex-shrink: 0;
  background: #eff1f0;
  position: sticky;
  top: 0;
  z-index: 10;
  display: flex;
  flex-direction: row;
  gap: clamp(263px, 24vw, 381px);
  height: clamp(63px, 8.75vw, 126px);
}

.sidebarFooter {
  border-top: 1px solid #a5a8a6dd;
  flex-shrink: 0;
  background: #eff1f0;
  position: sticky;
  bottom: 0;
  z-index: 10;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: clamp(20px, 2.5vw, 36px);
  height: clamp(66px, 9vw, 130px);
}

.sidebarContent {
  padding: 16px;
  flex-grow: 1;
  overflow-y: auto;
  max-height: calc(100vh - 126px - 130px);
}

@media (max-width: 1024px) {
  .sidebarContent {
    max-height: calc(100vh - 100px - 100px);
  }
}

@media (max-width: 768px) {
  .sidebarContent {
    max-height: calc(100vh - 80px - 80px);
  }
}

@media (max-width: 425px) {
  .sidebarContent {
    max-height: calc(100vh - 60px - 60px);
  }
}

.sidebarContent h3 {
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: 36px;
}

@media (min-width: 768px) {
  .sidebarContent h3 {
    margin-top: 14px;
    margin-bottom: 14px;
    margin-left: 48px;
  }
}

@media (min-width: 1024px) {
  .sidebarContent h3 {
    margin-top: 18px;
    margin-bottom: 18px;
    margin-left: 72px;
  }
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(81, 81, 81, 0.5);
  opacity: 0;
  visibility: hidden;
  z-index: 98;
  transition: opacity 0.3s ease, visibility 0.3s ease;
}

.overlay.show {
  opacity: 1;
  visibility: visible;
}
.closeButton {
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  background: none;
  cursor: pointer;
}

.resetButton {
  display: flex;
  border: none;
  background: none;
  cursor: pointer;
}
.resetAllWrapper {
  display: flex;
  justify-content: flex-end;
  margin-bottom: 16px;
}
.sortOptions {
  position: absolute;
  top: 100%;
  left: 0;
  width: clamp(132px, 19vw, 276px);
  max-height: 0;
  opacity: 0;
  overflow: hidden;
  background: #eff1f0;
  z-index: 100;
  gap: clamp(5px, 0.69vw, 10px);
  padding: clamp(9px, 0.1125vw, 18px);
  display: flex;
  flex-direction: column;
  border-bottom-left-radius: 25px;
  border-bottom-right-radius: 25px;

  transition: max-height 300ms ease-in-out, opacity 300ms ease-in-out,
    padding 300ms ease-in-out;
}

.sortOptions.open {
  max-height: 200px;
  opacity: 1;
  padding: 18px;
  overflow-y: auto;
}

.sortButton {
  display: flex;
  border: none;
  background: none;
  cursor: pointer;
  text-transform: lowercase;
  font-size: clamp(8px, 0.9vw, 13px);
}
