.button {
    padding: clamp(8px, 1.4vw, 20px) clamp(18px, 2.9vw, 42px);
    background-color: #EFF1F0;
    border: none;
    border-radius: clamp(11px, 1.7vw, 25px);
    cursor: pointer;
    box-shadow:
            -3px -3px 6px rgba(255, 255, 255, 0.7),
            3px 3px 6px rgba(165, 168, 166, 1),
            inset -5px -5px 5px rgba(251, 255, 253, 0),
            inset 4px 4px 4px rgba(196, 199, 197, 0);

    transition: box-shadow 500ms ease-in-out, transform 200ms ease-in-out;
}
.button:hover {
    box-shadow:
            -3px -3px 6px rgba(255, 255, 255, 0),
            3px 3px 6px rgba(165, 168, 166, 0),
            inset -5px -5px 5px rgba(251, 255, 253, 1),
            inset 4px 4px 4px rgba(196, 199, 197, 1);

    transform: translateY(1px);
}
