.main {
    width: 100%;
    min-height: 100vh;
    background-color: #eff1f0;
    display: flex;
    flex-direction: column;
    position: relative;
    overflow: hidden;
}


.buttonWrapper {
    display: flex;
    margin-top: clamp(15px, 2.08vw, 30px);
    margin-right: clamp(42px, 7.08vw, 102px);
    justify-content: end;
}

