.container {
  display: flex;
  flex-direction: column;
}

.content {
  align-items: center;
  text-align: center;
  margin-top: clamp(36px, 5vw, 72px);
}

.text {
  margin-top: clamp(30px, 5vw, 72px);
  margin-left: clamp(32px, 5vw, 72px);
  margin-right: clamp(32px, 5vw, 72px);
  text-align: justify;
}
