.wishlistContainer {
  align-items: center;
  display: flex;
  flex-direction: row;
  margin-top: clamp(18px, 2.5vw, 36px);
  margin-left: clamp(18px, 5vw, 72px);
}
.backButton {
  margin-right: clamp(2px, 0.42vw, 6px);
  border: none;
  background: none;
  cursor: pointer;
}

.backIcon {
  margin-right: clamp(4px, 0.56vw, 8px);
}
.backIcon img {
  width: clamp(7.04px, 1.74vw, 25px);
  height: clamp(5px, 1.23vw, 17.76px);
}
