.shoppingBag {
    position: fixed;
    top: 0;
    right: 0;
    background-color: #EFF1F0;
    height: 100vh;
    width: clamp(270px, 42.5vw, 612px);
    transform: translateX(100%);
    transition: transform 600ms ease;
    z-index: 1001;
    display: flex;
    flex-direction: column;
    padding-top: clamp(63px, 8.75vw, 126px);
    padding-bottom: clamp(112px, 15.56vw, 224px);
    overflow-y: auto;
}

.active {
    transform: translateX(0);
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(81, 81, 81, 0.5);
    opacity: 0;
    pointer-events: none;
    transition: opacity 800ms ease;
    z-index: 1000;
}

.activeOverlay {
    opacity: 1;
    pointer-events: all;
}

.upperRectangleContainer {
    position: fixed;
    top: 0;
    background-color: #EFF1F0;
    width: 100%;
    max-width: 612px;
    height: clamp(63px, 8.75vw, 126px);
    border-bottom: 1px solid #A5A8A6;
    padding: 0 clamp(18px, 2.5vw, 36px);
    z-index: 1002;
    display: flex;
    align-items: center;
}

.upperRectangle {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.bottomRectangleContainer {
    position: fixed;
    bottom: 0;
    background-color: #EFF1F0;
    width: 100%;
    max-width: 612px;
    height: clamp(112px, 15.56vw, 224px);
    border-top: 1px solid #A5A8A6;
    z-index: 1002;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: clamp(18px, 2.5vw, 36px);
    box-sizing: border-box;
}

.bottomRectangle {
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: space-between;
}

.textContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.text {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: clamp(18px, 2.5vw, 36px);
}

.buttonShoppingBag {
    display: flex;
    justify-content: center;
    text-decoration: none;
}

.cartItemsContainer {
    padding: 12px clamp(18px, 2.5vw, 36px);
    display: flex;
    flex-direction: column;
    gap: clamp(20px, 2.78vw, 40px);
    flex-grow: 1;
    overflow-y: auto;
}

.cart {
    display: flex;
    flex-direction: column;
    margin: clamp(18px, 2.5vw, 36px);
    gap: clamp(20px, 2.78vw, 40px);
}

.cartItem {
    display: flex;
    position: relative;
    align-items: center;
    flex-direction: row;
    gap: clamp(18px, 4.17vw, 60px);
    flex-wrap: wrap;
}

.photo img {
    width: clamp(65.33px, 8.33vw, 120px);
    height: clamp(98px, 12.57vw, 181px);
    border-radius: clamp(12px, 1.74vw, 25px);
    object-fit: cover;
}

.itemInfo {
    display: flex;
    flex-direction: column;
    flex: 1;
    min-width: 140px;
}

.colorSize {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: clamp(4px, 0.49vw, 7px);
    margin: 5px 0;
    flex-wrap: wrap;
}

.quantity {
    margin-bottom: clamp(9px, 1.11vw, 16px);
}

.priceWishlist {
    display: flex;
    flex-direction: column;
    gap: clamp(9px, 1.25vw, 18px);
}

.closeButton {
    background: none;
    border: none;
    cursor: pointer;
    display: flex;
    align-items: center;

}


@media screen and (max-width: 425px) {
    .shoppingBag {
        width: 100vw;
        left: 0;
    }

    .upperRectangleContainer,
    .bottomRectangleContainer {
        width: 100vw;
    }

    .cartItem {
        gap: 18px;
    }

}
