.wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 949px;
    gap: 9px;
}

.sideTextLeft {
    writing-mode: vertical-rl;
    transform: rotate(180deg);
    flex: 0 0 auto;
    display: flex;
    align-items: center;
    margin-left: 9px;
    height: 448px;
}

.sideTextRight {
    writing-mode: vertical-rl;
    flex: 0 0 auto;
    display: flex;
    align-items: center;
    margin-right: 9px;
    height: 448px;
}

.section {
    background: #eff1f0;
    box-shadow:
            -4px -4px 8px rgba(255, 255, 255, 0.7),
            3px 3px 6px #A5A8A6;
    width: 1296px;
    height: 504px;
    border-radius: 25px;
    padding: 33px 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    overflow: hidden;
}

.content {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 32px;
}

.cards {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 72px;
}

.card {
    position: relative;
    min-width: 220px;
}

.maskWrapper {
    position: relative;
    width: 260px;
    height: 390px;
    overflow: hidden;
    border-radius: 25px;
    /*background-color: #ccc;*/
    z-index: 1;
}

.imageWithMask {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.placeholder {
    width: 100%;
    height: 100%;
}

.info {
    margin-top: 8px;
}

.favoriteButton {
    position: absolute;
    bottom: 12px;
    right: 10px;
    height: 20px;
    width: auto;
    border: none;
    background: none;
    padding: 0;
    margin: 0;
    cursor: pointer;
    z-index: 2; /* Це забезпечить, що кнопка завжди буде поверх */
}

.favoriteButton img {
    width: 100%;
    height: 100%;
    pointer-events: none;
}

.favoriteIcon {
    width: 100%;
    height: 100%;
    object-fit: contain;
}
