.product {
    display: flex;
    flex-direction: column;
}

.content {
    display: flex;
    gap: 80px;
    margin-left: clamp(16px, 5vw, 72px);
    margin-right: clamp(16px, 5vw, 72px);
    align-items: flex-start;
}

.photos {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: clamp(18px, 2.5vw, 36px);
}

.photos img {
    border-radius: clamp(19px, 2.64vw, 38px);
    width: clamp(280px, 27vw, 400px);
    height: clamp(455px, 41.67vw, 600px);
    object-fit: cover;
}

.text {
    max-width: 400px;
    position: sticky;
    top: clamp(36px, 5vw, 72px);
    flex-shrink: 0;
    display: flex;
    flex-direction: column;
    gap: clamp(18px, 2.5vw, 36px);
    align-items: flex-start;
}
.namePrice {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.nameFavorite {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 14px;
}

.favoriteWrapper {
    position: relative;
    display: flex;
    align-items: center;
    height: clamp(15px, 1.39vw, 20px);
    width: clamp(18px, 1.74vw, 25px);
}

.color {
    display: flex;
    flex-direction: column;
    gap: clamp(4.5px, 0.625vw, 9px);
}

.size {
    display: flex;
    flex-direction: column;
    gap: clamp(4.5px, 0.625vw, 9px);
}

.sizeList {
    display: flex;
    gap: 12px;
}

.sizeButton {
    text-transform: uppercase;
    border: none;
    letter-spacing: 0;
    padding: 0;
    margin: 0;
    cursor: pointer;
    background: #EFF1F0;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    height: clamp(18px, 1.8vw, 26px);
    width: clamp(20px, 2.08vw, 30px);
    border-radius: clamp(4px, 0.55vw, 8px);
    box-shadow:
            -1px -1px 2px rgba(255, 255, 255, 0.7),
            1px 1px 2px rgba(165, 168, 166, 1),
            inset -1px -1px 1px rgba(251, 255, 253, 0),
            inset 1px 1px 1px rgba(196, 199, 197, 0);
    transition: box-shadow 300ms ease-in-out, transform 150ms ease-in-out;
}

.sizeUnavailable {
    color: #aaa;
    cursor: pointer;
}

.sizeButton:hover,
.sizeSelected {
    box-shadow:
            -1px -1px 2px rgba(255, 255, 255, 0),
            1px 1px 2px rgba(165, 168, 166, 0),
            inset -1px -1px 1px rgba(251, 255, 253, 1),
            inset 1px 1px 1px rgba(196, 199, 197, 1);
    transform: translateY(1px);
}

.textButton {
    cursor: pointer;
}

.description,
.care {
    display: flex;
    flex-direction: column;
    gap: clamp(4px, 1.25vw, 18px);
}


@media (max-width: 953px) {
    .content {
        flex-direction: column;
        gap: clamp(16px, 3.77vw, 36px);
    }

    .photos {
        display: flex;
        overflow-x: auto;
        scroll-snap-type: x mandatory;
        -webkit-overflow-scrolling: touch;
        gap: clamp(18px, 4.8vw, 36px);
        width: 100%;
    }


    .photos img {
        flex: 0 0 auto;
        scroll-snap-align: start;
    }

    .text {
        position: static;
        top: auto;
        max-width: 100%;
        width: 100%;
    }
    .description,
    .care {
        max-width: 160px;
    }
}
