.search-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: clamp(34px, 6.25vw, 90px);
    background-color: #eff1f0;
    z-index: 1000;
    display: flex;
    justify-content: center;
    align-items: center;
    transform: translateX(-100%);
    transition: transform 0.35s ease-in-out;
    backdrop-filter: blur(10px);
}

.search-container.active {
    transform: translateX(0%);
}

.search-container.closing {
    transform: translateX(-100%);
}

.search-wrapper {
    width: 100%;
    padding: clamp(24px, 4.58vw, 66px);
    display: flex;
    align-items: center;
    position: relative;
}

.search-box {
    font-weight: 500;
    font-size: clamp(8px, 0.9vw, 13px);
    line-height: clamp(12px, 4vw, 20px);
    letter-spacing: clamp(0.1em, 0.01vw, 0.16em);
    font-family: 'Unbounded', sans-serif;
    color: #515151;
    padding: clamp(9px, 1.6vw, 24px);
    border-radius: clamp(8px, 1.39vw, 20px);
    border: none;
    width: clamp(343px, 95.83vw, 2453px);
    height: clamp(18px, 3.19vw, 46px);
    background-color: #EFF1F0;
    box-shadow: inset -3px -3px 3px rgba(251, 255, 253, 1), inset 4px 4px 4px rgba(196, 199, 197, 1);
}


.cross-icon {
    width: clamp(11px, 1.53vw, 22px);
    height: clamp(10px, 1.39vw, 20px);
    cursor: pointer;
    border: none;
    outline: none;
}

.cross-icon:focus {
    border: none;
    outline: none;
}





/* Адаптивность */
@media (min-width: 426px) and (max-width: 767px) {
    .search-container {
        height: 80px;
    }

    .search-wrapper {
        padding: 0 26px;
    }

    .search-box {
        height: 50px;
        font-size: 16px;
        padding-right: 90px;
    }

    .cross-icon {
        width: 16px;
        height: 16px;
    }

}

@media (max-width: 425px) {
    .search-container {
        height: 70px;
    }

    .search-wrapper {
        padding: 0 16px;
    }

    .search-box {
        height: 46px;
        font-size: 15px;
        padding-right: 80px;
    }

    .cross-icon {
        width: 14px;
        height: 14px;
    }


}
